<!DOCTYPE html>
<html>
<head>
  <title>Workspace</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <!-- adds nav bar from the _nav.html.erb in the layouts folder -->
  <%= render 'layouts/nav'%>
  <%= bootstrap_flash %>
  <div class='container'>
    <%= yield %>
  </div>
  <%= render 'layouts/footer'%>
</body>
</html>
